.imageSlider {
  padding: 10px;
  position: relative;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    // width: 100%;
    // // width: 200px;
    // height: 200px;
    // object-fit: contain;
    width: 200px;
    height: 200px;
    object-fit: cover;
   
  }
}

.imageSlider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  // z-index: 10;
  border: 1px solid black !important;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color:green;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 1;
}

.slider-arrow-left {
  left: 15px;
}

.slider-arrow-right {
  right: 15px;
}
