$bg-gradiant:linear-gradient(135deg, #667eea 0%, #764ba2 100%);
$color:#667eea;
$shadow:  0 4px 12px rgba(102, 126, 234, 0.4);
$gr-gradient:linear-gradient(135deg, #38ef7d 0%, #11998e 100%);
$primary-color: #2874f0;
$primary-hover: #1e5bc6;

$text-primary: #212121;
$text-secondary: #878787;
$border-color: rgb(56, 239, 125);
$bg-light: #f1f3f6;
$success-color: #388e3c;
$warning-color: #ff6161;
$white: #ffffff;