@import "../styles/variables.scss";
.about-us {
  max-width: 1200px;
  margin: auto;
  padding: 4rem 1.5rem;
  font-family: "Inter", sans-serif;
  color: #333;

  section {
    margin-bottom: 5rem;
  }

  h1,
  h2 {
    color: #1f6f5c;
    margin-bottom: 1.5rem;
  }

  p {
    line-height: 1.7;
    color: #555;
  }
}

/* Vision */
.vision {
  text-align: center;

  h1 {
    font-size: 2.2rem;
  }

  p {
    max-width: 850px;
    margin: auto;
    font-size: 1.1rem;
  }
  .divider {
    width: 50%;
    height: 4px;
    background-color: $border-color;
    margin: 1rem auto 2rem auto;
  }
}

/* Mission */
.mission {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  h2 {
    font-size: 2.2rem;
  }

  p {
    max-width: 850px;
    margin: auto;
    font-size: 1.1rem;
  }
}

/* Leadership */
.leadership {
  text-align: center;

  h2 {
    font-size: 2.2rem;
    margin-bottom: 3rem;
    width: fit-content;
    border-bottom: 4px solid $border-color;
  }

  .leaders-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    @media (min-width: 720px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .leader-card {
    background: #ffffff;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    text-align: left;
    border: 1px dashed $border-color;

    &:hover {
      transform: translateY(-6px);
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
    }

    h3 {
      margin-bottom: 0.3rem;
      color: #222;
    }

    span {
      font-size: 0.9rem;
      color: $border-color;
      font-weight: 600;
      display: block;
      margin-bottom: 1rem;
    }

    p {
      font-size: 0.95rem;
    }
  }
}
/* Address */
.address {
  text-align: center;

  h2 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 4px solid $border-color;
  }

  .address-card {
    background: #ffffff;
    max-width: 600px;
    margin: auto;
    padding: 2.5rem;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    border: 1px dashed $border-color;

    h3 {
      margin-bottom: 1rem;
      color: #1f6f5c;
    }

    p {
      font-size: 1rem;
      line-height: 1.8;
      color: #555;
    }

    .contact {
      margin-top: 1.2rem;
      font-weight: 600;

      a {
        color: $border-color;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        svg{
          color: black;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
