/* ================= VARIABLES ================= */
@import "../styles/variables.scss";

/* ================= CHECKOUT ================= */
.checkout {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 20px;

  &__card {
    background: $white;
    border: 1px solid $border-color;
    // border-radius: 12px;
    padding: 22px;
    box-shadow: $shadow;

    h3 {
      margin-bottom: 14px;
      display: flex;
      align-items: center;
      svg {
        color: #555;
      }
      
    }
    p {
      display: flex;
      align-items: center;
      gap: 5px;
      color: #555;
      margin-top: 10px;
      // border-bottom: 1px solid #555;
    }
  }

  &__item {
    display: flex;
    gap: 14px;
    align-items: center;
    padding: 14px 0;
    border-bottom: 1px solid $border-color;

    img {
      width: 90px;
      height: 90px;
      border-radius: 8px;
      object-fit: contain;
    }
  }

  &__item-info {
    flex: 1;

    p {
      font-size: 14px;
      color: $text-secondary;
      margin-top: 4px;
    }
  }

  &__qty {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;

    button {
      padding: 4px 10px;
      border: 1px solid $border-color;
      background: $white;
      cursor: pointer;
      border-radius: 6px;

      &:hover {
        background: $bg-light;
      }
    }

    span {
      font-weight: 600;
    }
  }

  &__total {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    color: $border-color;
  }

  &__btn {
    margin-top: 22px;
    width: 100%;
    padding: 14px;
    background: $gr-gradient;
    color: $white;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      scale: 1.02;
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  &__error {
    color: $warning-color;
    margin-top: 12px;
    font-size: 14px;
  }
}

/* ================= RESPONSIVE ================= */
@media (max-width: 900px) {
  .checkout {
    grid-template-columns: 1fr;
  }
}
