@import '../styles/variables.scss';

/* ================= PAGE ================= */
.products-page {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
h2{
  margin-bottom: 20px;
}
/* ================= LAYOUT ================= */
.products-layout {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 30px;


}

/* ================= FILTER ================= */
.filter-box {
  background: $white;
  border: 1px solid $border-color;
  // border-radius: 12px;
  position: sticky;
  top: 100px;
  padding: 18px;
  height: fit-content;

  h4 {
    margin-bottom: 12px;
    color: $text-primary;
  }

  .filter-item {
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 6px;
    color: $text-primary;
    transition: all 0.2s ease;

    &:hover {
      background: $bg-light;
    }

    &.active {
      background: $primary-color;
      color: $white;
      box-shadow: $shadow;
    }
  }
}

/* ================= SEARCH ================= */
.search-input {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 22px;
  border-radius: 10px;
  border: 1px solid $border-color;
  font-size: 15px;

  &:focus {
    outline: none;
    border-color: $primary-color;
  }
}

/* ================= GRID ================= */
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 28px;
}

/* ================= CARD ================= */
.product-card {
  background: $white;
  // border-radius: 14px;
  border: 1px solid $border-color;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: all 0.25s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: $shadow;
  }
}

/* ================= INFO ================= */
.product-info {
  padding: 14px 16px;
  flex-grow: 1;

  h4 {
    cursor: pointer;
    margin-bottom: 6px;
    font-size: 16px;

  
  }

  .price {
    font-weight: 700;
    font-size: 16px;
    color: $success-color;
  }
  span{
    display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
  }
}

/* ================= ACTIONS ================= */
.product-actions {
  display: flex;
  gap: 10px;
  padding: 14px 16px;
  border-top: 1px solid $border-color;

  button {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.2s ease;
  }

  .add-cart {
    border: 1px solid $border-color;
    background: $white;
    color: $border-color;

    &:hover {
      background: $gr-gradient;
      color: $white;
    }
  }

  .buy-now {
    border: none;
    background: $gr-gradient;
    color: $white;

    &:hover {
     scale: 1.05;
    }
  }
}

/* ================= WARNING ================= */
.activation-warning {
  padding: 10px;
  font-size: 13px;
  text-align: center;
  background: #fff7ed;
  color: $warning-color;
}
@media screen and (max-width:768px) {
  .products-page{
    padding: 0;
  }
  .products-layout{
    grid-template-columns:1fr;
    padding: 10px;
    .filter-box{
      margin-top: 50px;
      position: static;
      display: flex;
      align-items: center;
      gap: 10px;
      overflow: scroll;
      scrollbar-width: none;
      border: none;
      h4{
        display: none;
      }
      div{
        white-space: nowrap;
        border: 1px solid $border-color;
        border-radius: 10px;
      }
    }
  }
  
}