.tree-wrapper {
  overflow: auto;
  padding: 60px;
  /* background: linear-gradient(135deg, #d7e9ff, #edf4ff); */
}

/* TREE BASE */
.tree ul {
  padding-top: 30px;
  position: relative;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

/* VERTICAL LINE FROM PARENT */
.tree ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 30px;
  border-left: 2px solid rgb(56, 239, 125);
}

/* LIST ITEMS */
.tree li {
  list-style: none;
  text-align: center;
  position: relative;
  padding: 30px 15px 0;
}

/* HORIZONTAL CONNECTORS */
.tree li::before,
.tree li::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 30px;
  border-top: 2px solid rgb(56, 239, 125);;
}

.tree li::before {
  right: 50%;
}

.tree li::after {
  left: 50%;
}

/* REMOVE EXTRA LINES */
.tree li:first-child::before {
  border: none;
}

.tree li:last-child::after {
  border: none;
}

.tree li:only-child::before,
.tree li:only-child::after {
  display: none;
}
.line{
    width: 2px;
    height: 30px;
    background-color: rgb(56, 239, 125);
    position: absolute;
    top: 0;
    left: 50%;
}
.line2{
    width: 2px;
    height: 30px;
    background-color: rgb(56, 239, 125);
    position: absolute;
    top: 0;
    right: 50%;
}

/* NODE CARD */
.node-card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 16px;
  min-width: 120px;
  border-radius: 8px;
  border: 2px solid #6c757d;
  background: #ffffff;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.node-card:hover {
  transform: translateY(-4px);
}

/* STATUS */
.node-card.active {
  border-color: #198754;
  background: #e9f7ef;
}

.node-card.inactive {
  border-color: #dc3545;
  background: #fdeaea;
}

/* EMPTY NODE */
.empty-node {
  border: 2px dashed rgb(56, 239, 125);;
  background: #f8faff;
  color: #555;
}
